<header>
  <div class="header-container">
    <img class="logo-direito" src="../../../../assets/logo-direito.svg" alt="logo do site"/>
    <div class="buscar">
      <mat-form-field appearance="outline">
          <mat-label>Pesquise uma receita ou ingrediente</mat-label>
          <input matInput placeholder="Ex. Áçucar" #input>
          <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
    <img class="logo-esquerdo" src="../../../../assets/logo-esquerdo.svg" alt="logo do site" />

    </div>
</header>
