.header-container{
  background-color: #FEBD2F;
  width: 100%;
  height: 180px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.logo-direito{
  width: 250px;
  height: 180px;
}

.logo-esquerdo{
  width: 250px;
  height: 180px;
}

.buscar mat-form-field{
  margin-top: 70px;
  width: 700px;
  background-color: #FFFFFF;
  height: 55px;
  border-radius: 4px;
}

.botao{
  margin-top: 65px;
}

.mat-raised-button {
  background-color: #EC6408;
  width: 250px;
  font-size: 15px;
  height: 55px;
}

.mat-raised-button mat-icon{
  margin-right: 20px;
}
