



   <div class="globa_div">
    <div class="card__container">
        <div class="card">
          <p>Adicionar Image</p>
          <img src="/assets\adicionaImg.png" alt="" class="img_adiciona">
        </div>
      </div>

    <div class="label__adicionar">
      <app-input label="Nome da Receita"  placeholder="ex: churros" tipo_tamanho="input_maior" type="text"></app-input>
      <app-input label="Tempo de Preparo" tipo_tamanho="input_menor"
       placeholder="ex: 10" type="number"></app-input>
       <p class="legenda">minutos</p>
      <app-input label="Porções" tipo_tamanho="input_menor" placeholder="ex: 2" type="number"></app-input>
      <p class="legenda">pessoas</p>
    </div>


    <div class="labels">

      <p class="header__text">Ingrediente</p>
      <div class="label__ingrediente">
        <app-input label="Ingrediente" tipo_tamanho="input_maior" placeholder="ex: chocolate" type="text"></app-input>
        <app-input label="Quantidade" tipo_tamanho="input_menor" placeholder="ex: 1" type="number"></app-input>
        <app-input label="Medida"  tipo_tamanho="input_menor" placeholder="ex: colher de sopa" type="number"></app-input>
        <div class="localBtn">
          <p>adicionar</p>
          <app-btn-adiciona (click)="addQuantity()" ></app-btn-adiciona>
        </div>
      </div>
      <form [formGroup]="productForm">

        <table formArrayName="quantities">
          <tr *ngFor="let quantity of quantities().controls; let i=index" [formGroupName]="i">
            <td>
              <div class="label__ingrediente">
                <app-input label="Ingrediente" tipo_tamanho="input_maior" placeholder="ex: chocolate" type="text"></app-input>
                <app-input label="Quantidade" tipo_tamanho="input_menor" placeholder="ex: 1" type="number"></app-input>
                <app-input label="Medida"  tipo_tamanho="input_menor" placeholder="ex: colher de sopa" type="number"></app-input>
                </div>
            </td>
            <td>
                <button (click)="removeQuantity(i)" class="btn btn-danger">Remove</button>
            </td>
          </tr>
        </table>
      </form>

      <p class="header__text">Modo de preparo</p>
      <div class="label__modoPreparo ">

         <app-input label="Modo de preparo" tipo_tamanho="input_maior"  placeholder="bater na batedeira" type="text"></app-input>
        <div class="localBtn">
          <p>adicionar</p>
          <app-btn-adiciona  (click)="addQuantity1()"></app-btn-adiciona>
        </div>
      </div>
      <form [formGroup]="product">
        <table formArrayName="quantities1">
          <tr *ngFor="let quantity1 of quantities1().controls; let i=index" [formGroupName]="i">
            <td>
              <div class="label__ingrediente">
                <app-input label="Modo de preparo" tipo_tamanho="input_maior"  placeholder="bater na batedeira" type="text"></app-input>
                </div>
            </td>
            <td>
                <button (click)="removeQuantity1(i)" class="btn btn-danger">Remove</button>
            </td>
          </tr>
        </table>
      </form>

      <p class="header__text">Acompanhamento</p>
      <div class="label__acompanhamento">

        <app-input label="Adicionar acompanhamento ou dica sobre a receita"  tipo_tamanho="input_maior" placeholder="comer quanto quente" type="text"></app-input>

        <div class="localBtn">
          <p>adicionar</p>
          <app-btn-adiciona  (click)="addQuantity2()"></app-btn-adiciona>
        </div>
      </div>
      <form [formGroup]="produ">
        <table formArrayName="quantities2">
          <tr *ngFor="let quantity2 of quantities2().controls; let i=index" [formGroupName]="i">
            <td>
              <div class="label__acompanhamento">

                <app-input label="Adicionar acompanhamento ou dica sobre a receita"  tipo_tamanho="input_maior" placeholder="comer quanto quente" type="text"></app-input>

                </div>
            </td>
            <td>
                <button (click)="removeQuantity2(i)" class="btn btn-danger">Remove</button>
            </td>
          </tr>
        </table>
      </form>



  </div>





<!-- teste -->





<!-- <button (click)="removeQuantity(i)" class="btn btn-danger">Remove</button> -->




<!-- <div class="tipo_rece">
  <app-input label="Nome da receita" class="input nome_rece" ></app-input>
  <app-input label="Tempo de preparo" class="input temp_pre"></app-input>
  <app-input label="Porções" class="input porcoes"></app-input>
</div>

<section class="area_titulo">
  <h2 class="titulo_Ingre"><u>Ingrediente</u></h2>
</section>


<div class="Ingre_rece">
  <app-input label="Ingrediente" class="input input_ingre" ></app-input>
  <app-input label="Quantidade" class="input input_qual"></app-input>
  <app-input label="Medida" class="input input_Medi"></app-input>
</div>

<section class="area_titulo">
  <h2 class="titulo_Ingre"><u>Modo de preparo</u></h2>
</section>
<app-ponto class="bolinha dire1"></app-ponto>
<app-input class="input Input_modoPrepa" ></app-input>

<section class="area_titulo">
  <h2 class="titulo_Ingre"><u>Acompanhamento</u></h2>
</section>
<app-ponto class="bolinha dire"></app-ponto>
<app-input class="input input_Acompa" ></app-input> -->








  <!-- segundo form -->











<!-- <form [formGroup]="myForm" (submit)="save()">
  <div formArrayName="people" *ngFor="let person of myForm.get('people').controls; let i = index;">
      <div [formGroupName]="i">
          <input formControlName="name" placeholder="Name..." type="text">
          <input formControlName="age" placeholder="Age..." type="number">
          <input formControlName="address" placeholder="Address..." type="text">
      </div>
  </div>
  <button (click)="addNewPerson()" type="button">Add Person</button>
  <button type="submit">Save</button>
</form> -->
