<!-- menu -->

<!-- Imagem adicionar -->

<div class="adicionarHome">

  <div class="card mb-3" style="max-width: 18rem;">
    <div class="card-body">
      <p class="card-text">Adicione uma imagem</p>
      <img src="\assets\IMG\adicionaImg.png" class="icon_adicioImg" alt="">

    </div>
  </div>

    <!-- input de texto -->

  <div class="area_input">
    <label class="form-label"><strong>Nome da receita</strong></label>
    <div class="input-group mb-3">
      <input type="text" class="form-control" aria-describedby="basic-addon1">

    </div>
  </div>

  <div class="area_input02">
    <label class="form-label02"><strong>Tempo de preparo</strong></label>
    <div class="input-group02 mb-3">
      <input type="text" class="form-control" aria-describedby="basic-addon1">
      <span class="minu">minutos</span>
    </div>
  </div>
  <div class="area_input03">
    <label class="form-label"><strong>Porções</strong></label>
    <div class="input-group03 mb-3">
      <input type="text" class="form-control" aria-describedby="basic-addon1">
      <span class="pessoas">pessoas</span>
    </div>

  </div>





<div class="Ingredientes">


  <span class="font_ingre"><strong>Ingredientes</strong></span>


  <label class="form-labelIngre">Ingrediente</label>
    <div class="input-groupIngre mb-3">
      <input type="text" class="form-control" aria-describedby="basic-addon1">
    </div>
  </div>

  <div class="area_inputQualt">
    <label class="form-labelQualt">Quantidade</label>
    <div class="input-groupQualt mb-3">
      <input type="text" class="form-control" aria-describedby="basic-addon1">
    </div>
  </div>
  <div class="area_inputMedi">
    <label class="form-labelMedi">Medida</label>
    <div class="input-group03 mb-3">
      <input type="text" class="form-control" aria-describedby="basic-addon1">
    </div>



 <span class="icon_adicio"> adicionar <i class="bi bi-plus-circle"></i></span>
</div>

<div class="modoPreparo">

<span><strong> Modo de Preparo</strong></span>

<div class="area_inputPrepa">
  <label class="form-labelPrepa"><strong>1.</strong></label>
  <div class="input-group_prepa mb-3">
    <input type="text" class="form-control" aria-describedby="basic-addon1">

  </div>

</div>


<div class="Acompanhamento">

  <span><strong>Acompanhamento</strong></span>

  <div class="area_inputAcompa">
    <label class="form-labelAcompa"><strong>1.</strong></label>
    <div class="group_Acompa mb-3">
      <input type="text" class="form-control" aria-describedby="basic-addon1">

    </div>

  </div>

</div>
