/*
/* adicionar img estilo */

.globa_div{
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.card{
  display: flex;
  background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
width: 14em;
text-align: center;
align-items: center;
margin-right: 40em;
margin-bottom: 4%;
}

.img_adiciona{
  width: 100px;
}

.label__adicionar
{
  display: flex;
  gap: 30px;

}
.labels
{
  display: flex;
flex-direction: column;

}

.label__ingrediente{
  display: flex;
  gap: 30px;
}
.label__final{
  display: flex;
  flex-direction: column;
}

