
/* adicionar img estilo */

.globa_div{
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.card{
  background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
width: 14em;
text-align: center;
align-items: center;

margin-bottom: 4%;
}
.img_adiciona{
  width: 100px;
}

.teste{
  display: flex;
flex-direction: row;

}

.Ingre_rece{
  margin-top: 2%;
}
.titulo_Ingre{

  text-decoration-color:#FEBD2F ;
  font-size: 16px;
  margin-bottom: 4px;
}
.input{
  float: left;
    /* estilos adicionais */
    border: none;
    padding-left: 20px;
}
.temp_pre{
  width: 164px;
}
.porcoes{
  width: 164px;
}

@media screen and (min-width: 767px) {
  .card{
    margin-right: 41%;
  }
}
