<body>

<div class="tudo">
<div class="listaLateral">
  <button mat-stroked-button><img src="../../assets/tortinha.svg" style="width: 25%; margin-right: 10px;"/>Bolos e tortas</button>
  <button mat-stroked-button><img src="../../assets/carne.svg" style="width: 30%; margin-right: 10px;"/>Carnes</button>
  <button mat-stroked-button><img src="../../assets/aves.svg" style="width: 30%; margin-right: 10px;"/>Aves</button>
  <button mat-stroked-button><img src="../../assets/saladas-molhos.svg" style="width: 20%; margin-right: 10px;"/>Saladas e molhos</button>
  <button mat-stroked-button><img src="../../assets/massas.svg" style="width: 30%; margin-right: 10px;"/>Massas</button>
  <button mat-stroked-button><img src="../../assets/bebidas.svg" style="width: 30%; margin-right: 10px;"/>Bebidas</button>
  <button mat-stroked-button><img src="../../assets/doces-sobremesas.svg" style="width: 20%; margin-right: 10px;"/>Doce e sobremesas</button>
  <button mat-stroked-button><img src="../../assets/lanches.svg" style="width: 30%; margin-right: 10px;"/>Lanches</button>
</div>

<app-card></app-card>

</div>
</body>
