
<div class="listaLateral">
  <button mat-stroked-button><img src="../../assets/tortinha.svg" style="width: 30%; margin-right: 10px;"/>Bolos e tortas</button>
  <button mat-stroked-button>Carnes</button>
  <button mat-stroked-button>Aves</button>
  <button mat-stroked-button>Saladas e molhos</button>
  <button mat-stroked-button>Massas</button>
  <button mat-stroked-button>Bebidas</button>
  <button mat-stroked-button>Doce e sobremesas</button>
  <button mat-stroked-button>Lanches</button>
</div>

