.mat-stroked-button{
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 60px;
  align-items: flex-start;
  margin-left: 100px;
  margin-top: 20px;
  gap: 20px;
  border-color: black;
  border-radius: 20px;
  background-color: #FFFFFF;
}

.mat-stroked-button:hover{
  background-color: #FEBD2F;
}
