.tudo{
  display: flex;

}

.listaLateral{
  display: flex;
  width: 350px;
  flex-direction: column;
}

.mat-stroked-button{
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 18px;
  display: flex;
  flex-direction: column;

  height: 53px;
  align-items: flex-start;
  margin-left: 1px;
  margin-top: 8px;
  gap: 20px;
  border-radius: 20px;
  background-color: #FFFFFF;
  box-shadow: gray;
}

.mat-stroked-button:hover{
  background-color: #FEBD2F;
}

body{
  background-color: #F2F2F2;

}



.exit_icon{
  color: white;
}



.modal{
width: 300px;
}
.btn{
  width: 80px;
  margin-top:8px;
}
.modal-content{
width: 300px;
background-color: #FEBD2F;
}
.list-group-item:hover{

background-color:rgba(126, 252, 0, 0.196);
cursor: pointer;
}
.list-group-item{
background-color: #C06027;
}

/* @media screen and (max-width:500px) {



  .listaLateral{
    display: flex;
    width: 200px;
    flex-direction: column;
  }
  .mat-stroked-button{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 12px;
    display: flex;
    flex-direction: column;

    height: 46px;
    align-items: flex-start;
    margin-left: 20px;
    margin-top: 20px;
    gap: 20px;
    border-radius: 20px;
    background-color: #FFFFFF;
    box-shadow: gray;
  }

} */

/* @media screen and (max-width:400px) {

  .listaLateral{
    display: flex;
    width: 180px;
    flex-direction: column;
  }
  .mat-stroked-button{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 11px;
    display: flex;
    flex-direction: column;

    height: 55px;
    align-items: flex-start;
    margin-left: 5px;
    margin-top: 20px;
    gap: 20px;
    border-radius: 20px;
    background-color: #FFFFFF;
    box-shadow: gray;
  }


}

@media screen and (min-width:400px) {

  .listaLateral{
    display: flex;
    width: 250px;
    flex-direction: column;
  }
  .mat-stroked-button{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 15px;
    display: flex;
    flex-direction: column;

    height: 55px;
    align-items: flex-start;
    margin-left: 20px;
    margin-top: 20px;
    gap: 20px;
    border-radius: 20px;
    background-color: #FFFFFF;
    box-shadow: gray;
  }


} */
