.globa_div{
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


}
.titulo{
  display: flex;
  margin-left: 16em;
  margin-top: 1em;
  font-size: 19px;
  font-weight: bolder;

}

.card{

  display: flex;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 14em;
  text-align: center;
  align-items: center;
  margin-right: 40em;

  margin-bottom: 4%;



}

.img_adiciona{
  width: 100px;
}

.card__container{
  display: flex;


}

.container{
  display: flex;
  margin-left: -540px;
  height: 150px;
  padding: 15px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  width: 480px;
}
.info{
  width:280px;
}
.linha-vertical {
  height: 100px;
  margin-top: 14px;
  border-right: 1px solid black;
   margin-left: 15px;

}
.icons{
  margin-left: 30px;
}
.Rendime_icon{
  margin-top: 9px;
  font-weight: bold;
  text-align: left;
}
.img_icon{
width: 20px;
}
.fundos{

  margin-left: -200px;
}
.header__text{
  font-size:16px ;
  font-weight: bolder;
  text-decoration: underline  #FEBD2F;
  }
  .fundo_modoPrepa,
  .fundo_ingrediente
  {
    display: flex;
    gap: 10px;
  }
  
  .bolinha{
    display: flex;
    align-items: center;
  }

